<div class="post post--text">
  <h2 class="post__title"><%= raw render_with_pipeline(text_post.title, :emoji) %></h2>
  <%= raw render_with_pipeline(text_post.body, [:markdown, :sanitize, :emoji]) %>
</div>
