<% if signed_in? %>
  <div class="post__actions">
    <% if post.user_id == current_user.id  %>
      <%= link_to "Delete", post_path(post), :method => :delete %>
    <% else %>
      <%= link_to "Reblog", reblog_path(post), :method => :post, :class => "reblog" %>
    <% end %>
  </div>
<% end %>
