<div class="post__meta">
<% if reblogged_post? post %>
  <%= profile_link(post.user_id) %>
  reblogged
  <%= profile_link(post.original_poster) %>
<% else %>
  <%= profile_link(post.user_id) %>
<% end %>
</div>
