@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
  color: #34495e;
  font: 16px/1.4 'Pt Sans';
  text-rendering: optimizeLegibility;
}

a {
  color: #2980b9;
  text-decoration: none;

  &:hover, &:focus {
    color: #3498db;
  }
}
