$post-radius: 4px;

.post {
  border-radius: $post-radius;
  background: white;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.1);
  margin-bottom: 1em;
  width: 75%;

  &--text {
    padding-top: 1em;
  }

  &--image, &--video {
    .post__actions {
      border-top: 0;
    }
    .post__meta {
      padding-top: 1em;
    }
  }

  &__meta {
    padding: 1em;
    padding-top: 0;

    a {
      color: dimgray;
      text-decoration: none;
    }
  }

  &__actions {
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: right;
    padding: 1em;
  }

  &__title {
    margin: 0 1rem;
    margin-bottom: 0.354em;
  }

  &__body {
    padding: 0 1em;
    padding-bottom: 1em;
  }

  &__image {
    display: block;
    width: 100%;
    border-bottom-left-radius: $post-radius;
    border-bottom-right-radius: $post-radius;
  }

  &__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;

    iframe, object, embed {
      position: absolute;
      border: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
