<h1>Profile for <%= @user.email %></h1>

<% if signed_in? && @user.id != current_user.id %>
  <% if !current_user.following?(@user) %>
    <%= button_to "Follow", user_follow_path(@user) %>
  <% else %>
    <%= button_to "Unfollow", user_follow_path(@user), :method => :delete %>
  <% end %>
<% end %>
<hr>
<%= render @posts %>
